html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: url('../images/curser.png'), auto;
}

body {
    overflow-y: auto;
    overflow-x: auto;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

@font-face {
    font-family: firstschool;
    src: url(../font/firstschool.ttf);
}

a,
button {
    cursor: url('../images/curser2.png'), auto;
}

main {
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(121, 9, 107, 1) 50%, rgba(77, 84, 255, 1) 100%);
}

.heaber {
    text-align: center;
    font-size: 1rem;
    font-family: firstschool;
    color: antiquewhite;
    background: linear-gradient(to bottom, rgba(77, 84, 255, 1), transparent);
    padding: 0.5rem 1rem;
}

div.logo {
    width: 100px;
    height: 100px;
    align-content: center;
    display: block;
}

#capslogo {
    margin: 0 auto;
    display: block;
}

.dirt-scene {
    height: 200px;
    width: 100%;
    background-image: url('../images/dirtblock.png');
    background-repeat: repeat-x;
    background-position: top center;
    background-size: contain;
}

.grass-scene {
    height: 300px;
    width: 100%;
    background-image: url('../images/grassblock.gif');
    background-repeat: repeat-x;
    background-position: bottom;
}

#stars {
    height: 50vh;
    width: 100%;
    background-image: url('../images/starsblock.png');
    background-size: 75%;
    background-repeat: repeat;
    background-position: top;

}

#nabigation {
    font-size: x-small;
    text-align: center;
    padding: 0;
    font-family: firstschool;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: auto;
}

#nabigation li {
    display: inline;
    position: center;
    text-align: center;
}

#nabigation a {
    font-size: 1.5em;
    color: rgb(191, 191, 191);
}

#nabigation a:hover{
    font-size: 1.5em;
    color: rgb(85, 181, 255);
}

.fooper {
    text-align: center;
    color: rgb(191, 191, 191);
    font-family: firstschool;
    padding: 0.5rem 1rem;
    background-color: rgb(70, 32, 40);
    opacity: 70;
    font-style: italic;
}

.text {
    padding: 0;
    font-family: firstschool;
    font-size: small;
    color: white;
    text-align: center;
    margin: 0 auto;
    word-wrap: break-inside;
}

h2{
    display: inline-block;
    margin: auto;
    padding: auto;
    margin-left: 95px;
    margin-right: 95px;
}

main{
    overflow: auto;
}

.irlimages {
    text-align: center;
}

.irlimages img {
    display: inline;
    width: 200px;
    height: 200px;
}

.aboutmush{
    text-align: center;
    margin: auto;
    padding: auto;
}

.mushibob {
    background-repeat: no-repeat;
    display: inline-block;
    margin: auto;
    width: 300px;
    height: 300px;
}


#mush1 {
    background-image: url(../images/mush1.png)
}

#mush1:hover {
    background-image: url(../images/mush1.gif)
}


#mush2 {
    background-image: url(../images/mush2.png)
}

#mush2:hover {
    background-image: url(../images/mush2.gif)
}


#mush3 {
    background-image: url(../images/mush3.png)
}

#mush3:hover {
    background-image: url(../images/mush3.gif)
}

audio::-webkit-media-controls-panel {
    background-color: rgb(182, 184, 255);
}

audio::-webkit-media-controls-play-button {
    background-color: rgb(145, 151, 255);
    border-radius: 50%;
}

audio::-webkit-media-controls-current-time-display {
    color: #fff;
}

audio::-webkit-media-controls-time-remaining-display {
    color: #fff;
}

#wavcontrol {
    display: none;
    margin: auto;
    text-align: center;
}

/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */


nav{
    position: fixed;
}


 #menuToggle
 {
   display: inline-block;
   position: relative;
   top: 20px;
   left: 20px;
   z-index: 1;
   
   -webkit-user-select: none;
   user-select: none;
 }
 
 #menuToggle a
 {
   text-decoration: none;
   color: #f0f0ff;
   
   transition: color 0.3s ease;
 }
 
 #menuToggle a:hover
 {
   color: rgb(129, 226, 255);
 }
 
 
 #menuToggle input
 {
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;
   
   cursor: pointer;
   
   opacity: 0; /* hide this */
   z-index: 2; /* and place it over the hamburger */
   
   -webkit-touch-callout: none;
 }
 
 /*
  * Just a quick hamburger
  */
 #menuToggle span
 {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   
   background: #cdcdcd;
   border-radius: 3px;
   
   z-index: 1;
   
   transform-origin: 4px 0px;
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }
 
 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }
 
 /* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background:#f0f0ff;
 }
 
 /*
  * But let's hide the middle one.
  */
 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 
 /*
  * Ohyeah and the last one should go the other direction
  */
 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(0, -1px);
 }
 
 /*
  * Make this absolute positioned
  * at the top left of the screen
  */
 #menu
 {
   position: absolute;
   width: 300px;
   margin: -100px 0 0 -50px;
   padding: 50px;
   padding-top: 125px;

   background: #352f43;
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   /* to stop flickering of text in safari */
   
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
 #menu li
 {
   padding: 10px 0;
   font-size: 22px;
 }
 
 /*
  * And let's slide it in from the left
  */
 #menuToggle input:checked ~ ul
 {
   transform: none;
 }